<h1 class="display-3">Aplicacion Basica Rails</h1>

<hr>
<ul class="list-unstyled">
    <li><%= link_to 'saludo', '/saludo' %></li>
    <li><%= link_to 'cliente', '/clientes' %></li>
    <li><%= link_to 'orden', '/ordenes' %></li>
    <li><%= link_to 'producto', '/productos' %></li>
    <li><%= link_to 'detalle_orden', '/detalle_ordens' %></li>
</ul>
