<%= form_with(model: detalle_orden, local: true) do |form| %>
  <% if detalle_orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detalle_orden.errors.count, "error") %> prohibited this detalle_orden from being saved:</h2>

      <ul>
      <% detalle_orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :precio_venta %>
    <%= form.text_field :precio_venta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
