<%= form_with(model: ordene, local: true) do |form| %>
  <% if ordene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ordene.errors.count, "error") %> prohibited this ordene from being saved:</h2>

      <ul>
      <% ordene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero_orden %>
    <%= form.number_field :numero_orden %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
