<p id="notice"><%= notice %></p>

<h1 class="display-3">Ordenes</h1>

<table  class="table table-hover table-dark">
  <thead>
    <tr>
      <th>Numero orden</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenes.each do |ordene| %>
      <tr>
        <td><%= ordene.numero_orden %></td>
        <td><%= ordene.fecha %></td>
        <td><%= link_to 'Show', ordene %></td>
        <td><%= link_to 'Edit', edit_ordene_path(ordene) %></td>
        <td><%= link_to 'Destroy', ordene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordene', new_ordene_path %>
<br>
<%= link_to 'index', '/' %>